<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="С днём рождения, <%= cardDataJson.name %>! 🎉 Только для тебя 🎂" />
    <meta property="og:description" content="Открытка, наполненная светом и теплом. С днём рождения, счастья тебе!" />
    <meta property="og:url" content="/" />
    <title>С днём рождения, <%= cardDataJson.name %>!</title>
</head>

<body class="<%= cardDataJson.gender %>">
    <div id="neon"><span>Happy</span><span> Birthday</span></div>

    <div id="top">
        <div id="sun"></div>
    </div>
    <div id="mountain">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="road">
        <div class="road-line"></div>
    </div>

    <div class="car_wrap">
        <!-- <img src="<%= images.car2 %>" alt="car" /> -->

        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="500" viewBox="0 0 500 345" fill="none">
            <g clip-path="url(#clip0_2505_739)">
                <g filter="url(#filter0_d_2505_739)">
                    <path
                        d="M78.6319 63.2422C81.3578 60.8566 86.6807 53.363 89.3653 49.9994C96.7595 40.7377 122.8 6.81246 131.534 0.625H367.797C371.221 2.98803 379.857 13.9266 383.024 17.736L420.106 63.2422C430.693 62.879 443.727 63.2372 454.482 63.2422C452.828 66.2151 440.191 83.1407 437.85 85.2809C440.727 89.5586 444.763 94.4637 448.032 98.5587L463.982 118.362C470.856 126.839 473.915 130.398 478.454 140.448C482.996 151.892 491.176 164 495.165 175.463C497.93 183.409 496.256 221.926 496.258 234.69C496.258 241.629 488.112 251.065 487.549 258.392C487.097 263.918 487.293 271.375 487.298 277.044L487.323 311.844C487.327 321.521 489.737 338.518 475.332 338.594C464.076 338.651 443.076 339.779 432.394 338.099C422.01 336.463 423.817 317.17 423.85 309.937C421.259 309.676 419.927 309.764 417.329 309.937C417.297 313.609 417.553 317.063 417.329 320.782C415.707 320.869 414.148 320.815 412.526 320.782C412.458 317.187 412.509 313.537 412.526 309.937C410.195 309.567 407.218 309.88 404.815 309.894C395.544 309.945 380.375 308.867 371.663 309.937C371.762 318.012 371.668 326.274 371.663 334.363C369.382 334.512 366.374 334.392 364.037 334.363V309.937H135.99C135.875 317.219 135.987 324.819 135.99 332.127H128.102V309.937H71.7933C71.8246 321.581 71.7933 323.156 71.7933 323.156C71.4754 326.738 73.4279 336.838 68.9673 337.336C56.0075 338.783 34.0678 338.101 20.556 337.479C9.97481 336.786 12.294 318.495 12.293 311.878L12.2474 274.469C12.2545 271.146 12.5952 259.572 12.0136 257.151C8.53589 242.678 3.07207 245.469 3.12539 225.822L3.13214 191.209C3.10773 175.12 3.92238 175.615 10.7458 161.097C15.6936 150.57 20.9701 138.782 27.1861 128.971C37.8773 114.292 50.4937 100.113 61.4255 85.2809C42.8676 55.0686 39.7424 65.7129 78.2301 63.271L78.6319 63.2422Z"
                        fill="#0E0012" />
                    <path
                        d="M367.895 0.3125L367.975 0.368143C368.861 0.979464 370.063 2.128 371.403 3.54529C372.749 4.96832 374.253 6.68085 375.745 8.43572C377.983 11.0655 380.207 13.8031 381.844 15.8075L383.265 17.5361L383.267 17.5385L420.25 62.9247C430.817 62.57 443.794 62.9247 454.482 62.9297L455.014 62.9303L454.755 63.3949C453.916 64.9045 450.327 69.8998 446.674 74.7624C444.844 77.1993 442.991 79.6105 441.449 81.5478C440.065 83.2866 438.915 84.6622 438.257 85.3228C441.115 89.5348 445.057 94.3303 448.277 98.3633L464.225 118.165C470.886 126.38 473.986 130.001 478.316 139.393L478.74 140.32L478.743 140.326L478.745 140.334C481.009 146.036 484.18 151.906 487.294 157.802C490.404 163.69 493.457 169.604 495.461 175.36C496.169 177.397 496.583 181.34 496.815 186.261C497.047 191.196 497.098 197.161 497.061 203.271C496.988 215.518 496.57 228.296 496.571 234.691C496.571 236.482 496.046 238.416 495.268 240.405C494.489 242.396 493.446 244.469 492.394 246.538C491.339 248.612 490.274 250.684 489.437 252.694C488.599 254.705 487.998 256.633 487.861 258.417V258.418C487.411 263.927 487.606 271.361 487.611 277.045L487.636 311.844C487.636 313.049 487.674 314.368 487.712 315.761C487.75 317.151 487.789 318.613 487.79 320.096C487.791 323.059 487.642 326.12 487.036 328.887C486.431 331.653 485.362 334.154 483.502 335.967C481.634 337.789 479.001 338.888 475.334 338.907C469.691 338.936 461.672 339.232 453.651 339.312C445.911 339.389 438.213 339.262 432.857 338.486L432.346 338.409C429.64 337.982 427.733 336.401 426.406 334.187C425.084 331.984 424.33 329.146 423.906 326.162C423.082 320.354 423.496 313.869 423.533 310.221C421.248 310.007 419.952 310.077 417.641 310.23C417.623 313.761 417.86 317.177 417.641 320.802L417.625 321.081L417.346 321.095C415.71 321.183 414.135 321.129 412.519 321.096L412.218 321.09L412.213 320.789C412.147 317.28 412.194 313.718 412.212 310.21C411.14 310.067 409.935 310.054 408.705 310.085C407.389 310.118 406.018 310.201 404.817 310.208C400.177 310.233 394.053 309.977 388.023 309.847C382.11 309.721 376.284 309.717 371.979 310.216C372.072 318.205 371.981 326.374 371.976 334.365V334.657L371.684 334.676C369.386 334.826 366.355 334.705 364.034 334.677L363.725 334.673V310.25H136.299C136.191 317.435 136.3 324.916 136.303 332.127V332.44H127.79V310.25H72.107C72.122 315.878 72.122 319.098 72.1183 320.914C72.1164 321.839 72.1133 322.4 72.1108 322.731C72.1095 322.896 72.1089 323.003 72.1077 323.07C72.1077 323.103 72.107 323.125 72.1064 323.14V323.16L72.1058 323.162V323.173L72.1051 323.184C72.0282 324.053 72.0882 325.33 72.1571 326.799C72.2259 328.255 72.3016 329.881 72.2466 331.414C72.1915 332.941 72.0063 334.409 71.5344 335.535C71.0576 336.674 70.2666 337.506 69.0019 337.648C56.0135 339.097 34.049 338.414 20.5419 337.792H20.5359C17.7829 337.612 15.8594 336.279 14.5408 334.291C13.2321 332.318 12.5212 329.705 12.1471 326.942C11.4471 321.774 11.9135 315.924 11.9741 312.524L11.9802 311.879L11.9344 274.469V274.468C11.9362 273.635 11.9595 272.286 11.9833 270.697C12.0071 269.108 12.0316 267.275 12.0383 265.471C12.0449 263.667 12.0334 261.893 11.9839 260.422C11.934 258.939 11.8462 257.793 11.7095 257.224C9.9818 250.035 7.77548 247.166 5.96624 243.568C4.14483 239.946 2.78613 235.68 2.81289 225.821L2.81961 191.21C2.80742 183.169 3.00335 179.228 4.07056 175.479C5.13335 171.744 7.06296 168.198 10.4628 160.964C15.406 150.448 20.6927 138.635 26.922 128.804L26.9275 128.795L26.9336 128.788C32.2846 121.441 38.1165 114.22 43.9727 106.987C49.7859 99.8077 55.6219 92.6147 61.0473 85.2651C56.4665 77.8229 52.8397 72.8865 50.5538 69.6193C49.4069 67.9807 48.5819 66.7403 48.1552 65.8155C47.9422 65.3541 47.8132 64.9389 47.8099 64.5739C47.8065 64.1888 47.9436 63.8645 48.2359 63.6216C48.5105 63.3937 48.8984 63.2578 49.361 63.172C49.8287 63.085 50.409 63.043 51.1002 63.0299C52.4817 63.0029 54.3617 63.0881 56.7695 63.1789C61.5941 63.3611 68.6039 63.5683 78.2103 62.9591L78.5019 62.9378C79.8367 61.7437 81.7935 59.3452 83.7666 56.7966C85.7647 54.2163 87.7791 51.4865 89.1214 49.8046L90.7159 47.7935C94.9068 42.4849 102.244 33.0734 109.705 23.9613C113.97 18.7535 118.278 13.6392 122.068 9.43853C125.851 5.24567 129.138 1.93966 131.354 0.369977L131.435 0.3125H367.895Z"
                        fill="#0E0012" stroke="#FF06DE" />
                </g>
                <g filter="url(#filter1_d_2505_739)">
                    <path
                        d="M132.676 1.97656C122.429 8.71254 89.4068 52.2576 80.5245 63.6496L45.5377 108.359C43.4787 111.01 31.5602 125.72 31.3359 127.034L31.6851 127.24C41.0999 120.569 57.8838 109.45 68.1678 104.74C73.5771 90.6973 91.6797 68.8152 100.907 57.0451L132.676 16.1948C132.67 11.3097 132.641 7.07326 133.134 2.1957L132.676 1.97656Z"
                        fill="#0E0012" />
                    <path
                        d="M132.812 1.69362L133.27 1.91252L133.468 2.00791L133.447 2.22681C133.078 5.87093 133.002 9.15577 132.99 12.6326V16.3014L132.924 16.3864L101.156 57.2367L101.155 57.2379C96.5367 63.1288 89.7106 71.5334 83.3589 80.2248C77.0041 88.9218 71.1493 97.8736 68.461 104.853L68.4153 104.971L68.2989 105.025C58.0446 109.721 41.282 120.823 31.8667 127.495L31.7017 127.611L31.5275 127.509L31.1785 127.304L30.9922 127.194L31.0282 126.981C31.0524 126.839 31.1392 126.661 31.2372 126.484C31.3429 126.294 31.4881 126.06 31.6657 125.79C32.0214 125.251 32.5174 124.553 33.1091 123.748C34.2929 122.139 35.8707 120.091 37.5036 118.004C40.778 113.819 44.2577 109.498 45.2917 108.167L45.2923 108.166L80.2795 63.4556C84.7175 57.7633 95.1975 44.0242 105.846 30.8694C111.171 24.2916 116.542 17.8564 121.222 12.643C125.893 7.44022 129.904 3.42424 132.505 1.71441L132.652 1.61719L132.812 1.69362Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter2_d_2505_739)">
                    <path d="M134.707 1.97656C133.963 5.43282 134.774 10.9203 134.707 14.9902H365.336V1.97656H134.707Z"
                        fill="#0E0012" />
                    <path
                        d="M365.649 1.66406V15.3039H134.39L134.395 14.9853C134.428 12.9629 134.243 10.5966 134.141 8.2678C134.039 5.95729 134.021 3.68348 134.402 1.91109L134.455 1.66406H365.649Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter3_d_2505_739)">
                    <path
                        d="M366.509 1.97656C366.45 6.53359 366.383 11.6641 366.509 16.1948C383.637 35.9519 402.589 61.1487 417.565 82.2796C421.686 88.0939 428.338 96.315 431.251 102.416C438.508 106.531 462.001 124.594 468.115 126.026C460.082 116.595 452.44 106.098 444.712 96.3613L377.23 12.8275C375.392 10.6285 369.02 2.25081 366.509 1.97656Z"
                        fill="#0E0012" />
                    <path
                        d="M366.544 1.66621C366.927 1.70807 367.349 1.89797 367.78 2.16638C368.219 2.43835 368.695 2.80841 369.192 3.24377C370.185 4.11473 371.285 5.2675 372.356 6.47286C374.495 8.87934 376.563 11.5424 377.471 12.6272L377.474 12.6315L444.956 96.1656L444.958 96.1675C452.698 105.92 460.325 116.397 468.354 125.824L468.971 126.549L468.044 126.331C467.241 126.144 466.177 125.69 464.93 125.049C463.679 124.404 462.224 123.56 460.632 122.578C457.449 120.615 453.707 118.091 449.934 115.486C442.374 110.266 434.71 104.737 431.098 102.689L431.012 102.64L430.969 102.552C429.526 99.5286 427.148 95.9677 424.607 92.4238C423.337 90.6537 422.03 88.8924 420.782 87.2081C419.533 85.5251 418.343 83.9184 417.311 82.4614C402.337 61.3347 383.391 36.1467 366.273 16.4005L366.2 16.3161L366.197 16.2042C366.07 11.666 366.138 6.52852 366.197 1.97315L366.202 1.62891L366.544 1.66621Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter4_d_2505_739)">
                    <path
                        d="M421.861 64.5577C421.675 66.6427 436.143 83.4306 437.85 85.2802C439.532 81.0501 440.747 79.7878 443.591 76.1537C446.57 72.3205 449.379 68.4786 452.244 64.5577C442.187 64.5439 431.9 64.4174 421.861 64.5577Z"
                        fill="#0E0012" />
                    <path
                        d="M421.857 64.2452C431.899 64.1049 442.193 64.2314 452.245 64.2452L452.86 64.2464L452.497 64.743C449.632 68.6632 446.82 72.5089 443.838 76.3465L443.837 76.3471C440.99 79.9862 439.804 81.2147 438.141 85.3966L437.957 85.8581L437.621 85.4931C436.761 84.562 432.712 79.8967 428.903 75.2057C426.998 72.8596 425.149 70.5015 423.786 68.5981C423.106 67.647 422.542 66.803 422.154 66.128C421.96 65.7905 421.805 65.4881 421.701 65.2314C421.603 64.9872 421.531 64.7398 421.55 64.5307L421.575 64.2496L421.857 64.2452Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter5_d_2505_739)">
                    <path
                        d="M49.3438 64.5586C52.1558 70.9351 58.4071 78.3461 62.6159 84.0815C64.6484 81.6796 67.1541 78.1845 69.2004 76.1546C71.8787 72.2413 75.1941 68.3617 77.6147 64.5586C74.3506 64.8316 69.6785 64.6124 66.2367 64.5824L49.3438 64.5586Z"
                        fill="#0E0012" />
                    <path
                        d="M77.8747 64.7282C76.6563 66.6416 75.2151 68.5714 73.7495 70.5055C72.2808 72.4427 70.7883 74.3838 69.4548 76.3329L69.4379 76.3573L69.4166 76.378C68.4079 77.3786 67.2808 78.7467 66.1444 80.1749C65.013 81.5962 63.8709 83.0789 62.8509 84.2848L62.595 84.5872L62.3601 84.2679C61.3101 82.8366 60.132 81.3013 58.9092 79.6996C57.6873 78.0986 56.4212 76.4325 55.1985 74.7457C52.7554 71.3752 50.4737 67.9064 49.0537 64.6862L48.8594 64.246L49.3403 64.2467L66.2333 64.2705H66.2358C69.6995 64.3005 74.3397 64.519 77.585 64.2479L78.2139 64.1953L77.8747 64.7282Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter6_d_2505_739)">
                    <path
                        d="M77.6096 92.0156C73.5157 96.7204 72.4306 100.076 69.1953 104.741C77.8336 106.105 86.1991 108.278 94.6972 110.335L146.414 123.389C160.725 127.035 168.851 126.021 183.686 126.018L331.62 126.042C353.25 126.069 383.02 114.942 404.52 109.44C412.771 107.014 422.081 104.849 429.95 102.417C428.013 99.3852 425.138 94.8019 422.948 92.0156H77.6096Z"
                        fill="#0E0012" />
                    <path
                        d="M423.102 91.7031L423.196 91.8221C425.398 94.624 428.284 99.2249 430.216 102.249L430.437 102.595L430.045 102.717C426.104 103.935 421.803 105.085 417.461 106.234C413.116 107.383 408.731 108.529 404.611 109.741L404.605 109.743L404.599 109.744C399.231 111.118 393.345 112.843 387.192 114.66C381.04 116.476 374.624 118.383 368.203 120.117C355.768 123.476 343.286 126.194 332.646 126.349L331.622 126.356L183.688 126.332C168.878 126.335 160.698 127.352 146.34 123.693L94.6231 110.639V110.639C86.1187 108.58 77.7701 106.412 69.1487 105.051L68.6562 104.973L68.9404 104.563C70.5492 102.243 71.62 100.256 72.8139 98.235C74.0067 96.2151 75.3121 94.1826 77.3765 91.8108L77.4698 91.7031H423.102Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter7_d_2505_739)">
                    <path
                        d="M429.957 104.742C423.076 105.734 416.8 107.625 410.118 109.465L383.81 116.821C373.508 119.674 356.279 123.639 347.094 127.241L455.87 127.203C458.261 127.184 462.37 126.975 464.606 127.241C460.623 124.247 434.017 104.563 430.521 104.504L429.957 104.742Z"
                        fill="#400331" />
                    <path
                        d="M430.523 104.189C430.798 104.193 431.15 104.291 431.544 104.441C431.947 104.595 432.425 104.817 432.966 105.094C434.047 105.65 435.397 106.441 436.924 107.393C439.979 109.297 443.763 111.861 447.557 114.513C455.147 119.818 462.797 125.49 464.79 126.989L465.721 127.688L464.565 127.55C462.356 127.287 458.292 127.495 455.869 127.514H455.867L347.09 127.552L346.977 126.948C356.181 123.337 373.449 119.362 383.722 116.517L410.03 109.162H410.031C416.69 107.328 422.979 105.433 429.869 104.436L430.395 104.213L430.457 104.188L430.523 104.189Z"
                        fill="#400331" stroke="#FF06DE" />
                </g>
                <g filter="url(#filter8_d_2505_739)">
                    <path
                        d="M68.1721 106.517C61.9606 108.544 40.584 122.746 34.7656 127.242H120.734L142.43 127.266C145.875 127.271 150.588 127.443 153.921 127.242C142.492 123.782 76.908 106.17 68.1721 106.517Z"
                        fill="#400331" />
                    <path
                        d="M68.155 106.205C69.2845 106.159 71.2964 106.403 73.9447 106.858C76.603 107.313 79.9315 107.988 83.7113 108.817C91.272 110.474 100.649 112.752 110.109 115.148C129.027 119.941 148.286 125.21 154.007 126.943L153.935 127.554C150.589 127.757 145.851 127.584 142.425 127.579L120.729 127.555H33.8438L34.5698 126.994C37.4902 124.737 44.2983 120.057 51.1487 115.69C54.5751 113.505 58.0161 111.396 60.9907 109.706C63.9572 108.02 66.4835 106.737 68.0705 106.22L68.1118 106.206L68.155 106.205Z"
                        fill="#400331" stroke="#FF06DE" />
                </g>
                <g filter="url(#filter9_d_2505_739)">
                    <path
                        d="M339.819 127.238H154.539C154.68 130.785 154.783 133.237 154.539 136.793H345.388C345.381 133.739 345.296 130.251 345.388 127.238C343.548 127.243 341.653 127.272 339.819 127.238Z"
                        fill="#0E0012" />
                    <path
                        d="M345.699 127.249C345.608 130.256 345.693 133.729 345.699 136.794L345.7 137.107H154.203L154.226 136.773C154.468 133.235 154.366 130.798 154.225 127.251L154.213 126.926H339.824L340.513 126.936C342.124 126.953 343.771 126.931 345.386 126.926L345.709 126.926L345.699 127.249Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter10_d_2505_739)">
                    <path
                        d="M425.484 128.92V170.075H472.771C466.185 157.67 461.768 141.872 456.207 128.92C453.179 128.657 448.041 128.866 444.804 128.893L425.484 128.92Z"
                        fill="#0E0012" />
                    <path
                        d="M444.802 128.58C447.816 128.556 452.549 128.37 455.639 128.564L456.234 128.609L456.421 128.625L456.495 128.797C459.28 135.283 461.78 142.484 464.399 149.595C467.021 156.713 469.766 163.746 473.048 169.929L473.292 170.388H425.172V128.608H425.484L444.802 128.58Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter11_d_2505_739)">
                    <path
                        d="M458.281 128.922C458.93 133.596 471.751 169.144 475.997 170.077C475.276 160.457 473.674 150.863 472.59 141.314C471.19 128.979 470.796 127.742 458.281 128.922Z"
                        fill="#0E0012" />
                    <path
                        d="M458.247 128.611C461.375 128.317 463.77 128.169 465.62 128.314C467.472 128.459 468.819 128.901 469.812 129.821C470.799 130.736 471.39 132.084 471.824 133.937C472.259 135.791 472.548 138.201 472.897 141.279C473.978 150.803 475.583 160.43 476.305 170.054L476.336 170.474L475.926 170.384C475.576 170.307 475.226 170.065 474.885 169.739C474.538 169.407 474.169 168.958 473.784 168.414C473.013 167.326 472.153 165.827 471.246 164.053C469.43 160.504 467.405 155.816 465.494 151.019C463.584 146.22 461.786 141.304 460.425 137.295C459.744 135.29 459.172 133.51 458.75 132.084C458.329 130.665 458.051 129.577 457.967 128.966L457.922 128.642L458.247 128.611Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter12_d_2505_739)">
                    <path
                        d="M33.6313 128.922C31.56 129.952 27.245 132.487 26.9327 134.795C25.4094 146.06 24.3542 158.657 23.7109 169.956L24.071 170.461C25.5181 170.163 26.8639 167.911 27.645 166.661C28.5804 159.264 37.7038 137.012 40.6427 128.922H33.6313Z"
                        fill="#0E0012" />
                    <path
                        d="M41.0873 128.609L40.9352 129.03C39.4708 133.06 36.4396 140.688 33.6842 148.16C32.3024 151.908 30.9841 155.631 29.9534 158.877C28.9209 162.129 28.1832 164.883 27.9532 166.702L27.9447 166.77L27.9086 166.828C27.5218 167.447 26.9784 168.341 26.3484 169.116C25.7298 169.877 24.9714 170.595 24.1319 170.768L23.9327 170.809L23.8148 170.644L23.4542 170.138L23.3906 170.049L23.3968 169.939C24.0404 158.634 25.0963 146.029 26.621 134.753C26.7104 134.093 27.0794 133.448 27.5774 132.849C28.0786 132.247 28.7321 131.664 29.4309 131.131C30.8287 130.064 32.4441 129.163 33.4899 128.643L33.556 128.609H41.0873Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter13_d_2505_739)">
                    <path d="M41.6261 128.922C38.8279 142.887 31.5581 156.906 27.6406 170.076H73.1564V128.922H41.6261Z"
                        fill="#0E0012" />
                    <path
                        d="M73.4672 128.609V170.39H27.2188L27.3385 169.987C29.3019 163.387 32.1063 156.572 34.7593 149.685C37.4156 142.79 39.9238 135.815 41.3172 128.86L41.3679 128.609H73.4672Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter14_d_2505_739)">
                    <path
                        d="M473.445 134.477C475.393 151.527 478.325 168.948 478.254 186.089H494.828C494.802 183.608 494.865 178.301 493.95 176.146C492.449 172.611 475.417 136.13 473.445 134.477Z"
                        fill="#0E0012" />
                    <path
                        d="M473.648 134.238C473.812 134.376 474.017 134.655 474.248 135.009C474.486 135.375 474.774 135.86 475.104 136.444C475.765 137.612 476.6 139.191 477.549 141.046C479.449 144.757 481.81 149.586 484.157 154.472C488.848 164.239 493.486 174.25 494.239 176.025C494.721 177.161 494.934 179.08 495.036 180.981C495.138 182.895 495.129 184.853 495.142 186.087L495.146 186.404H477.94L477.942 186.089C478.013 168.973 475.085 151.587 473.135 134.514L473.047 133.734L473.648 134.238Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter15_d_2505_739)">
                    <path
                        d="M24.1587 136.793L12.1881 161.537C10.3473 165.386 2.16067 181.872 4.65679 186.09C7.66632 186.1 18.578 186.404 21.1159 186.09C20.9301 178.155 25.3619 140.904 24.1587 136.793Z"
                        fill="#0E0012" />
                    <path
                        d="M24.4593 136.705C24.6247 137.271 24.685 138.349 24.6794 139.768C24.6737 141.203 24.5995 143.034 24.4777 145.133C24.234 149.333 23.7983 154.626 23.3313 160.035C22.3955 170.871 21.3371 182.139 21.4294 186.084L21.4356 186.367L21.155 186.401C19.8597 186.562 16.4704 186.563 13.0602 186.525C9.63075 186.487 6.16104 186.409 4.65616 186.403L4.47832 186.403L4.38788 186.249C4.03642 185.656 3.88755 184.874 3.87576 183.987C3.86392 183.094 3.99042 182.066 4.21554 180.954C4.66581 178.73 5.51938 176.135 6.50415 173.564C8.47443 168.42 10.9881 163.322 11.9064 161.402L11.907 161.401L23.8776 136.657L24.2314 135.926L24.4593 136.705Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter16_d_2505_739)">
                    <path
                        d="M154.536 138.469C153.327 140.869 156.02 168.767 153.709 171.459C150.314 172.057 144.59 171.843 140.951 171.832L34.8911 171.799C31.1871 171.789 26.9862 171.572 23.3498 171.808C22.9895 176.289 22.4542 181.633 22.6648 186.091H476.909C477.002 181.349 476.474 176.302 476.909 171.808L389.04 171.814C375.483 171.815 358.737 172.285 345.385 171.808V138.469H154.536Z"
                        fill="#0E0012" />
                    <path
                        d="M345.699 138.156V171.505C358.993 171.964 375.571 171.503 389.04 171.502L476.91 171.495H477.255L477.222 171.839C477.006 174.065 477.028 176.434 477.095 178.849C477.161 181.257 477.269 183.717 477.223 186.097L477.217 186.405H22.3673L22.3526 186.107C22.1408 181.623 22.679 176.252 23.0383 171.783L23.0603 171.514L23.3304 171.496C26.9801 171.26 31.2122 171.477 34.8927 171.487L140.952 171.519H140.953C144.576 171.53 150.162 171.736 153.535 171.17C153.618 171.043 153.706 170.85 153.788 170.58C153.889 170.248 153.976 169.826 154.05 169.322C154.197 168.315 154.286 167.008 154.331 165.497C154.422 162.477 154.341 158.67 154.224 154.865C154.107 151.064 153.956 147.261 153.91 144.263C153.887 142.764 153.89 141.458 153.937 140.451C153.96 139.948 153.995 139.512 154.044 139.162C154.092 138.822 154.157 138.528 154.257 138.328L154.344 138.156H345.699Z"
                        stroke="#FF06DE" />
                </g>
                <defs>
                    <!-- Радиальный градиент с анимацией -->
                    <radialGradient id="paint0_radial_2505_739_animated" cx="0.5" cy="0.5" r="0.5" fx="0.5" fy="0.5">
                        <stop offset="0%" stop-color="#FFD700" /> <!-- Ярко-золотой -->
                        <stop offset="100%" stop-color="#FF4500" /> <!-- Оранжево-красный -->
                        <!-- Анимация цвета градиента -->
                        <animate attributeName="stop-color" values="#FFD700; #FF4500; #FF8C00; #FFD700" dur="2s"
                            repeatCount="indefinite" calcMode="linear" fill="freeze" />
                    </radialGradient>

                    <!-- Фильтр для внешнего яркого оранжевого свечения -->
                    <filter id="neon-glow-orange">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="8" result="blur" />
                        <feFlood id="glow-color" flood-color="#FF4500" flood-opacity="0.9" result="glow" />
                        <feComposite in="glow" in2="blur" operator="in" result="glow" />
                        <feMerge>
                            <feMergeNode in="glow" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        <!-- Анимация цвета свечения -->
                        <animate xlink:href="#glow-color" attributeName="flood-color"
                            values="#FF4500; #FF8C00; #FFD700; #FF4500" dur="2s" repeatCount="indefinite" />
                    </filter>
                </defs>

                <!-- Фара с ярким оранжевым свечением -->
                <path
                    d="M425 171H346V128.419L346.279 128.383C347.623 128.208 350.916 128.204 354.259 128.243C357.622 128.281 361.056 128.363 362.729 128.365L400.925 128.38L402.276 128.372C405.501 128.333 409.213 128.157 412.915 128.061C417.136 127.953 421.336 127.949 424.721 128.383L425 128.418V171Z"
                    fill="url(#paint0_radial_2505_739_animated)" filter="url(#neon-glow-orange)" />
                <defs>
                    <!-- Радиальный градиент с анимацией -->
                    <radialGradient id="paint1_radial_2505_739_animated" cx="0.5" cy="0.5" r="0.5" fx="0.5" fy="0.5">
                        <stop offset="0%" stop-color="#FFD700" /> <!-- Ярко-золотой -->
                        <stop offset="100%" stop-color="#FF4500" /> <!-- Оранжево-красный -->
                        <!-- Анимация цвета градиента -->
                        <animate attributeName="stop-color" values="#FFD700; #FF4500; #FF8C00; #FFD700" dur="2s"
                            repeatCount="indefinite" calcMode="linear" fill="freeze" />
                    </radialGradient>

                    <!-- Фильтр для внешнего яркого оранжевого свечения -->
                    <filter id="neon-glow-orange">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="8" result="blur" />
                        <feFlood id="glow-color" flood-color="#FF4500" flood-opacity="0.9" result="glow" />
                        <feComposite in="glow" in2="blur" operator="in" result="glow" />
                        <feMerge>
                            <feMergeNode in="glow" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                        <!-- Анимация цвета свечения -->
                        <animate xlink:href="#glow-color" attributeName="flood-color"
                            values="#FF4500; #FF8C00; #FFD700; #FF4500" dur="2s" repeatCount="indefinite" />
                    </filter>
                </defs>

                <!-- Вторая фара с ярким оранжевым свечением -->
                <path
                    d="M154 171H74V128.419L74.2821 128.383C75.6432 128.208 78.9779 128.204 82.3638 128.243C85.7691 128.281 89.2462 128.363 90.9405 128.365L129.62 128.38L130.988 128.372C134.254 128.333 138.013 128.157 141.763 128.061C146.036 127.953 150.29 127.949 153.718 128.383L154 128.418V171Z"
                    fill="url(#paint1_radial_2505_739_animated)" filter="url(#neon-glow-orange)" />
                <g filter="url(#filter17_d_2505_739)">
                    <path
                        d="M488.658 187.81H478.257C476.646 214.749 471.351 244.849 466.924 271.41L463.049 293.671C462.679 295.876 461.087 302.562 461.994 304.247C464.067 305.246 465.032 303.656 465.743 301.985C472.357 286.957 478.775 271.873 485.407 256.833C494.486 236.248 494.848 242.307 494.844 219.364L494.832 187.81C492.644 187.748 490.842 187.714 488.658 187.81Z"
                        fill="#0E0012" />
                    <path
                        d="M488.645 187.498C490.84 187.401 492.652 187.435 494.841 187.498L495.145 187.507V187.81L495.158 219.364L495.152 223.336C495.12 231.881 494.918 235.592 493.831 239.076C493.21 241.066 492.304 242.976 490.994 245.658C489.847 248.008 488.385 250.963 486.519 255.109L485.694 256.96C482.379 264.479 479.117 272.009 475.856 279.538C472.597 287.066 469.338 294.594 466.031 302.107L466.031 302.107C465.676 302.943 465.233 303.825 464.578 304.36C464.242 304.634 463.847 304.822 463.383 304.863C462.921 304.904 462.415 304.798 461.859 304.53L461.768 304.486L461.72 304.397C461.579 304.137 461.499 303.804 461.454 303.438C461.409 303.068 461.398 302.643 461.412 302.185C461.44 301.268 461.568 300.191 461.734 299.107C461.901 298.022 462.107 296.922 462.295 295.957C462.482 294.989 462.65 294.165 462.742 293.619V293.618L466.617 271.357C471.045 244.789 476.336 214.71 477.946 187.792L477.963 187.498H488.645Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter18_d_2505_739)">
                    <path
                        d="M4.65864 187.809L4.63548 218.921C4.62672 234.534 3.2286 235.044 10.2131 249.465C15.3092 259.986 21.3635 270.136 26.554 280.59C29.6438 286.813 32.0277 303.418 38.7754 304.863C39.5986 301.352 25.838 222.542 23.7406 207.409C22.9166 201.465 21.6171 193.997 21.1177 187.809H4.65864Z"
                        fill="#0E0012" />
                    <path
                        d="M21.4066 187.496L21.4299 187.784C21.9283 193.961 23.2245 201.405 24.0509 207.366L24.2807 208.967C25.5928 217.857 29.2869 239.783 32.6622 260.444C34.4618 271.46 36.1707 282.116 37.3781 290.237C37.9818 294.297 38.4608 297.726 38.7629 300.252C38.9139 301.513 39.021 302.553 39.0776 303.334C39.1059 303.724 39.122 304.054 39.124 304.316C39.126 304.569 39.1157 304.786 39.0807 304.935L39.0104 305.234L38.7103 305.169C36.9043 304.783 35.4304 303.392 34.1924 301.509C32.951 299.62 31.914 297.186 30.9987 294.625C30.083 292.061 29.2816 289.347 28.52 286.899C27.7553 284.44 27.0336 282.26 26.2742 280.73C23.682 275.509 20.8738 270.364 18.0736 265.203C15.2744 260.044 12.4833 254.87 9.93168 249.602C6.43794 242.389 5.02174 238.617 4.49216 234.682C4.22789 232.719 4.18541 230.723 4.2086 228.251C4.23188 225.772 4.32069 222.825 4.32288 218.921L4.34611 187.809V187.496H21.4066Z"
                        stroke="#FF06DE" />
                </g>
                <defs>
                    <!-- Определяем clipPath для обрезки текста -->
                    <clipPath id="text-clip-new">
                        <path
                            d="M22.6641 187.809C23.38 197.75 25.611 213.052 27.6433 222.82H472.769C472.989 221.649 473.282 220.286 473.449 219.125C474.567 208.844 476.11 198.038 476.909 187.809H22.6641Z" />
                    </clipPath>
                </defs>

                <g filter="url(#filter19_d_2505_739)">
                    <path
                        d="M22.6641 187.809C23.38 197.75 25.611 213.052 27.6433 222.82H472.769C472.989 221.649 473.282 220.286 473.449 219.125C474.567 208.844 476.11 198.038 476.909 187.809H22.6641Z"
                        fill="#200C1C" />
                    <path
                        d="M477.247 187.496L477.221 187.834C476.422 198.068 474.877 208.895 473.761 219.16L473.761 219.165L473.759 219.171C473.59 220.34 473.294 221.72 473.077 222.878L473.028 223.133H27.3888L27.3374 222.883C25.3027 213.104 23.069 197.789 22.352 187.832L22.3281 187.496H477.247Z"
                        fill="#200C1C" stroke="#FF06DE" />

                    <!-- Бегущая строка -->
                    <text x="100%" y="210" text-anchor="start" font-size="24" fill="#FF593B"
                        font-family="AlphaSmart3000" clip-path="url(#text-clip-new)">
                        <%- cardDataJson.message %>
                            <animate attributeName="x" from="100%" to="-200%" dur="15s" repeatCount="indefinite" />
                    </text>
                </g>
                <g filter="url(#filter20_d_2505_739)">
                    <path
                        d="M159.249 224.21C154.171 235.82 146.579 249.516 140.742 260.962L132.462 277.133C128.777 284.444 126.731 289.728 120.734 295.553C125.101 294.472 130.065 291.829 134.211 289.877L153.284 280.938C165.344 275.428 166.044 276.462 179.27 276.475L324.562 276.496C344.726 276.238 364.557 294.401 381.156 295.553C371.259 287.641 357.681 258.338 351.391 246.186C347.748 239.145 342.401 231.581 339.82 224.21C322.072 224.01 303.893 224.21 286.119 224.211L159.249 224.21Z"
                        fill="#0E0012" />
                    <path
                        d="M286.12 223.899C303.89 223.898 322.075 223.697 339.825 223.898L340.044 223.9L340.117 224.107C341.398 227.764 343.367 231.477 345.48 235.166C347.588 238.847 349.845 242.514 351.671 246.043C354.823 252.132 359.78 262.479 365.196 272.309C367.903 277.222 370.719 281.997 373.474 286.035C376.233 290.077 378.916 293.361 381.353 295.309L382.136 295.936L381.136 295.866C376.937 295.574 372.549 294.209 368.028 292.343C363.508 290.478 358.83 288.101 354.06 285.778C344.5 281.123 334.565 276.682 324.567 276.81H324.563L179.271 276.788C172.627 276.782 169.19 276.521 165.881 276.946C162.595 277.368 159.441 278.47 153.415 281.223L134.345 290.16C130.224 292.1 125.217 294.767 120.811 295.857L119.688 296.136L120.518 295.329C126.467 289.549 128.488 284.326 132.184 276.993L132.184 276.991L140.465 260.819C146.31 249.358 153.891 235.683 158.963 224.085L159.045 223.898H159.25L286.12 223.899Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter21_d_2505_739)">
                    <path
                        d="M27.6406 224.211L33.1165 256.739C35.9434 273.121 38.6576 288.308 40.6384 304.866L444.576 304.85C448.966 304.845 455.462 304.625 459.677 304.866C461.304 296.529 462.551 288.062 463.941 279.679L469.678 245.28C470.681 238.986 471.541 230.055 472.766 224.211H450.696C453.218 226.971 456.662 230.075 457.864 233.688C458.822 236.572 458.439 278.344 458.188 283.743C457.297 302.863 438.328 297.437 423.512 297.437L73.7959 297.436C65.6971 297.436 57.3468 297.769 49.3102 296.896C37.9996 295.668 41.7783 265.318 41.6118 257.149C41.5566 243.883 37.9753 231.822 49.341 224.211H27.6406Z"
                        fill="#0E0012" />
                    <path
                        d="M50.3736 223.898L49.5174 224.471C43.9324 228.211 42.0197 233.032 41.5075 238.589C41.2505 241.376 41.3472 244.346 41.513 247.461C41.6784 250.566 41.9133 253.818 41.9274 257.144L41.9323 257.544C41.9436 259.631 41.7536 262.896 41.6096 266.645C41.4556 270.656 41.3527 275.243 41.5968 279.609C41.8412 283.98 42.4323 288.104 43.6525 291.202C44.8734 294.302 46.6886 296.297 49.3463 296.586C57.3605 297.456 65.6827 297.124 73.7991 297.124L423.514 297.125C427.23 297.125 431.213 297.465 435.074 297.675C438.949 297.884 442.709 297.963 446.027 297.452C449.343 296.94 452.186 295.844 454.256 293.73C456.323 291.62 457.657 288.456 457.877 283.729C458.003 281.038 458.162 269.252 458.169 257.773C458.173 252.034 458.139 246.377 458.044 241.974C457.996 239.772 457.934 237.887 457.853 236.464C457.813 235.752 457.768 235.158 457.72 234.7C457.67 234.232 457.617 233.932 457.569 233.788C456.987 232.037 455.855 230.394 454.539 228.832C453.215 227.263 451.747 225.822 450.468 224.423L449.989 223.898H473.154L473.075 224.275C472.465 227.184 471.946 230.867 471.452 234.618C470.959 238.364 470.492 242.178 469.99 245.33L469.989 245.332L464.252 279.73C462.863 288.105 461.614 296.584 459.987 304.926L459.935 305.194L459.662 305.179C455.984 304.969 450.571 305.111 446.321 305.153L444.579 305.163L40.641 305.179L40.3635 305.179L40.3305 304.903C38.351 288.356 35.6381 273.177 32.8107 256.792V256.791L27.3346 224.263L27.2734 223.898H50.3736Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter22_d_2505_739)">
                    <path
                        d="M68.3248 224.19C54.8555 224.188 43.3281 222.47 43.3438 239.497L43.3619 281.209C43.54 300.121 55.5727 295.564 70.8279 295.565L108.894 295.553C127.327 295.45 129.002 280.316 137.331 264.276L149.904 239.693C152.392 234.786 155.374 229.206 157.544 224.21L68.3248 224.19Z"
                        fill="#0E0012" />
                    <path
                        d="M58.7266 223.874C61.7075 223.769 64.9735 223.877 68.3252 223.877L157.544 223.897H158.021L157.831 224.335C155.656 229.343 152.667 234.938 150.184 239.835L150.183 239.836L137.61 264.42L137.609 264.421C135.533 268.42 133.872 272.36 132.253 276.042C130.637 279.717 129.062 283.138 127.165 286.062C125.265 288.99 123.035 291.433 120.101 293.149C117.166 294.865 113.549 295.84 108.897 295.867H108.895L70.8283 295.879C67.0223 295.879 63.4316 296.163 60.1388 296.295C56.8617 296.426 53.8821 296.407 51.3662 295.783C48.8365 295.155 46.7614 293.912 45.3181 291.597C43.8831 289.295 43.0943 285.967 43.0496 281.212V281.21L43.0313 239.498C43.0273 235.21 43.7499 232.064 45.0761 229.766C46.407 227.46 48.3303 226.036 50.669 225.165C52.9983 224.298 55.7418 223.979 58.7266 223.874Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter23_d_2505_739)">
                    <path
                        d="M341.078 224.211C346.102 233.031 375.474 292.963 383.476 294.436C393.331 296.248 448.107 297.545 454.485 292.01C458.39 285.062 458.022 239.752 456.646 234.86C455.452 230.611 451.177 227.766 448.786 224.211H341.078Z"
                        fill="#0E0012" />
                    <path
                        d="M448.952 223.898L449.046 224.037C450.224 225.79 451.858 227.355 453.397 229.067C454.92 230.76 456.329 232.579 456.947 234.776C457.129 235.422 457.286 236.696 457.42 238.412C457.555 240.138 457.666 242.342 457.75 244.866C457.917 249.917 457.97 256.261 457.858 262.67C457.746 269.078 457.468 275.555 456.975 280.867C456.727 283.523 456.425 285.893 456.062 287.819C455.7 289.735 455.272 291.247 454.757 292.164L454.731 292.211L454.689 292.247C453.828 292.995 452.204 293.593 450.077 294.084C447.931 294.578 445.215 294.977 442.115 295.291C435.916 295.921 428.152 296.221 420.287 296.291C404.566 296.432 388.38 295.656 383.42 294.744C382.844 294.638 382.211 294.28 381.542 293.747C380.866 293.209 380.124 292.47 379.327 291.564C377.735 289.752 375.903 287.242 373.921 284.255C369.956 278.281 365.372 270.367 360.886 262.23C356.398 254.092 352.004 245.725 348.419 238.842C344.831 231.955 342.058 226.565 340.806 224.367L340.539 223.898H448.952Z"
                        stroke="#FF06DE" />
                </g>
                <g filter="url(#filter24_d_2505_739)">
                    <path
                        d="M165.389 278.049C159.989 279.126 132.474 292.297 126.352 295.552H334.539C346.836 295.542 360.294 295.244 372.499 295.552C367.584 292.926 337.626 279.036 332.412 278.306C329.011 277.828 320.713 278.016 317.045 278.02L165.389 278.049Z"
                        fill="#0E0012" />
                    <path
                        d="M324.828 277.67C327.783 277.682 330.729 277.755 332.453 277.996C333.138 278.092 334.201 278.398 335.529 278.853C336.864 279.311 338.487 279.925 340.298 280.649C343.922 282.097 348.313 283.986 352.693 285.933C361.448 289.825 370.176 293.957 372.644 295.276L372.489 295.866C360.289 295.558 346.845 295.855 334.538 295.866H126.35L126.203 295.276C129.273 293.645 137.687 289.535 146.008 285.7C150.169 283.782 154.31 281.932 157.749 280.493C161.176 279.059 163.939 278.019 165.326 277.743L165.356 277.736H165.387L317.043 277.708L318.613 277.699C320.366 277.686 322.612 277.661 324.828 277.67Z"
                        stroke="#FF06DE" />
                </g>
                <path d="M264.255 6.31641V11.5871H234.805V6.31641H264.255Z" fill="#0E0012" stroke="#FF06DE"
                    stroke-width="2" />
                <path d="M264.451 142V147.271H235V142H264.451Z" fill="#0E0012" stroke="#FF06DE" stroke-width="2" />
                <path
                    d="M53.7319 229.932C73.0059 229.535 93.5723 229.939 113.027 229.948H113.027L128.848 229.931H128.851C134.031 229.902 137.717 229.979 140.252 230.369C142.822 230.764 143.966 231.448 144.413 232.401C144.645 232.895 144.73 233.538 144.642 234.403C144.554 235.27 144.298 236.316 143.89 237.583C143.072 240.129 141.697 243.42 140.024 247.756C138.496 251.714 135.341 257.283 132.336 262.883C129.394 268.365 126.579 273.906 125.764 277.799C124.306 279.937 123.132 282.282 121.995 284.462C120.875 286.606 119.79 288.586 118.482 290.172C115.787 290.332 112.025 290.167 109.211 290.165L52.6838 290.142C50.3628 290.035 48.8527 289.587 47.8622 288.914C46.8933 288.255 46.3549 287.335 46.0691 286.123C45.7776 284.886 45.758 283.378 45.8205 281.591C45.8742 280.052 45.989 278.302 46.0154 276.437L46.0209 275.631L46.0154 259.255L46.0123 258.73C45.9805 256.084 45.721 253.081 45.5185 250.074C45.3013 246.847 45.148 243.599 45.3853 240.667C45.6232 237.727 46.2494 235.178 47.5346 233.304C48.7944 231.466 50.7263 230.22 53.7319 229.932Z"
                    fill="#400331" stroke="#FF06DE" stroke-width="2" />
                <path
                    d="M429.607 229.412C433.447 229.195 437.493 229.068 441.174 229.413C444.867 229.758 448.112 230.572 450.401 232.176C452.646 233.747 454.025 236.112 453.951 239.737C453.719 251.447 453.938 263.176 453.858 274.859C453.844 276.942 453.887 278.944 453.801 280.822C453.716 282.695 453.504 284.372 453.002 285.772C452.505 287.157 451.731 288.253 450.521 289.003C449.3 289.759 447.57 290.204 445.09 290.155H445.079L403.082 290.122C397.813 290.117 393.869 290.358 390.886 290.411C387.863 290.464 385.814 290.324 384.116 289.624C382.443 288.934 381.035 287.667 379.388 285.29C377.734 282.901 375.882 279.456 373.294 274.478L363.017 254.281C361.942 252.127 360.336 249.466 358.861 246.781C357.366 244.062 355.983 241.28 355.268 238.769C354.548 236.238 354.554 234.144 355.602 232.656C356.647 231.174 358.883 230.077 363.174 229.933L419.358 229.936C422.147 229.935 425.792 229.627 429.607 229.412Z"
                    fill="#400331" stroke="#FF06DE" stroke-width="2" />
                <path d="M365.5 15.5H133.5L85.0004 78.5L76 91.5H423.5L395.5 53L365.5 15.5Z"
                    fill="url(#paint2_linear_2505_739)" />
                <path xmlns="http://www.w3.org/2000/svg"
                    d="M318 230H182C180.895 230 180 230.895 180 232V268C180 269.105 180.895 270 182 270H318C319.105 270 320 269.105 320 268V232C320 230.895 319.105 230 318 230Z"
                    fill="#200C1C" stroke="#FF06DE" stroke-width="1.5" />

                <!-- Текст внутри области -->
                <text id="client-info" x="250" y="245" text-anchor="middle" font-size="15" fill="#FF06DE"
                    font-family="couriernewbold" font-weight="bold">
                        <%- cardDataJson.name %> -
                        <tspan id="birth-year"></tspan>
                </text>
                <text id="date-str" x="250" y="262" text-anchor="middle" font-size="18" fill="#FF06DE"
                    font-family="couriernewbold">
                </text>
                <circle cx="315" cy="235" r="2" fill="#FF06DE" />
                <circle cx="185" cy="235" r="2" fill="#FF06DE" />
                <circle cx="185" cy="265" r="2" fill="#FF06DE" />
                <circle cx="315" cy="265" r="2" fill="#FF06DE" />
            </g>
            <defs>
                <filter id="filter0_d_2505_739" x="-1.6875" y="-0.1875" width="503.258" height="348.02"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter1_d_2505_739" x="26.4453" y="1.04297" width="111.555" height="135.164"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter2_d_2505_739" x="129.578" y="1.16406" width="240.57" height="22.6406"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter3_d_2505_739" x="361.625" y="1.07422" width="112.711" height="134.309"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter4_d_2505_739" x="411.047" y="57.6797" width="52.7969" height="43.1016"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter5_d_2505_739" x="38.0938" y="57.6133" width="51.0859" height="41.7812"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter6_d_2505_739" x="63.7891" y="91.2031" width="371.422" height="43.7617"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter7_d_2505_739" x="342.406" y="103.688" width="129.102" height="32.7148"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter8_d_2505_739" x="28.3828" y="105.699" width="130.172" height="30.4531"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter9_d_2505_739" x="149.672" y="126.426" width="200.555" height="19.1797"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter10_d_2505_739" x="420.672" y="127.977" width="57.4531" height="50.9102"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter11_d_2505_739" x="453.352" y="127.758" width="27.5312" height="51.3477"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter12_d_2505_739" x="18.8828" y="128.109" width="26.9141" height="51.2539"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter13_d_2505_739" x="22.5469" y="128.109" width="55.4219" height="50.7812"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter14_d_2505_739" x="462.406" y="126.547" width="43.2422" height="74.3555"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter15_d_2505_739" x="-6.625" y="128.539" width="41.8047" height="72.5078"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter16_d_2505_739" x="17.8047" y="137.656" width="464" height="57.25"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter17_d_2505_739" x="456.906" y="186.938" width="42.75" height="126.434"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter18_d_2505_739" x="-0.296875" y="186.996" width="43.9219" height="126.832"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter19_d_2505_739" x="17.7891" y="186.996" width="464" height="44.6367"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter20_d_2505_739" x="114.016" y="223.309" width="273.68" height="81.7578"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter21_d_2505_739" x="22.6797" y="223.398" width="455.086" height="90.3203"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter22_d_2505_739" x="38.5312" y="223.328" width="124.25" height="81.5312"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter23_d_2505_739" x="335.68" y="223.398" width="126.734" height="81.4102"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <filter id="filter24_d_2505_739" x="121.625" y="277.168" width="255.602" height="27.207"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0221153 0 0 0 0 0.869615 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2505_739" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2505_739" result="shape" />
                </filter>
                <radialGradient id="paint0_radial_2505_739" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(385.5 149.5) rotate(90) scale(21.5 39.5)">
                    <stop stop-color="#FFBCD1" />
                    <stop offset="0.360577" stop-color="#FC8A8A" />
                    <stop offset="1" stop-color="#F6306E" />
                </radialGradient>
                <radialGradient id="paint1_radial_2505_739" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(114 149.5) rotate(90) scale(21.5 40)">
                    <stop stop-color="#FFBCD1" />
                    <stop offset="0.360577" stop-color="#FC8A8A" />
                    <stop offset="1" stop-color="#F6306E" />
                </radialGradient>
                <linearGradient id="paint2_linear_2505_739" x1="258" y1="90.5" x2="258" y2="16"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#640986" />
                    <stop offset="0.865385" stop-color="#B21D82" />
                </linearGradient>
                <clipPath id="clip0_2505_739">
                    <rect width="500" height="345" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <!-- <div id="car-inner">
        <img id="wheel" src="<%= images.wheel %>" alt="wheel">
        <picture id="salon">
            <source media="(width <= 768px)" srcset="<%= images.car_inner_mobile %>" />
            <source media="(width > 768px)" srcset="<%= images.car_inner %>" />
            <img src="<%= images.car_inner %>" alt="car" />
        </picture>
    </div> -->

    <script>
        window.CARD_DATA_PLACEHOLDER = {
            name: "<%- cardDataJson.name %>",
            message: "<%- cardDataJson.message %>",
            photo: "<%- cardDataJson.photo %>",
            dateStr: "<%- cardDataJson.dateStr %>",
            path: "<%- cardDataJson.path %>",
            template: "<%- cardDataJson.template %>",
            gender: "<%- cardDataJson.gender %>",
            generatedPath: "<%- cardDataJson.generatedPath %>"
        };
    </script>
</body>

</html>

</html>
