<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="С Днём Святого Валентина, <%= cardDataJson.name %>! 💖 Только для тебя ❤️" />
    <meta property="og:description" content="Открытка, наполненная любовью и теплом. С праздником, любимый(ая)!" />
    <meta property="og:url" content="/" />
    <link rel="icon" type="image/png" href="https://storage.yandexcloud.net/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="https://storage.yandexcloud.net/favicons/favicon.svg" />
    <link rel="shortcut icon" href="https://storage.yandexcloud.net/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://storage.yandexcloud.net/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="https://storage.yandexcloud.net/favicons/site.webmanifest" />
    <title>С днём святого Валентина, <%= cardDataJson.name %>!</title>
</head>

<body class="<%= cardDataJson.gender %>">

    <div class="center-section">

        <h1 lang="en"><span>Happy </span> valentine's day</h1>

        <div class="heart-container">
            <div id="heart" class="heart">
                <svg fill="#D896A8" viewBox="0 0 32 29.6">
                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                        c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
                </svg>
                <div class="heart-inner">
                    <div class="heart-text">Люблю тебя</div>
                    <div class="heart-days"><strong>1568</strong> <br> дней</div>
                    <div class="heart-date">с 12.03.24</div>
                </div>
            </div>
        </div>

        <div class="wrap">
            <div class="envelope-container" id="envelopeContainer">
                <div class="envelope envelope-closed"></div>
                <div class="envelope envelope-open"></div>
                <div class="letter">
                    <h2>A LOVE LETTER</h2>
                    <div class="letter-info">
                        <div class="from"><span>От</span> Александры</div>
                        <div class="to"><span>Для</span> Константина</div>

                        <div class="mark"></div>
                    </div>

                    <div class="letter-content">
                        <h3>Мой любимый!</h3>
                        <p class="message">С Днем влюбленных! Ты — мой самый уютный дом и самое сумасшедшее приключение.
                            <br> Спасибо, что делаешь меня счастливой каждый день. Люблю тебя бесконечно!
                        </p>
                        <div class="date">14.02.2026</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo-container">
            <div class="photo">
                <img src="<%= images.photohorizontal %>" alt="photo">
            </div>
            <div class="heart-bg-item-3"></div>
            <div class="heart-bg-item-4"></div>
        </div>
    </div>
    <script>
        window.CARD_DATA_PLACEHOLDER = {
            name: "<%- cardDataJson.name %>",
            message: "<%- cardDataJson.message %>",
            photo: "<%- cardDataJson.photo %>",
            dateStr: "<%- cardDataJson.dateStr %>",
            path: "<%- cardDataJson.path %>",
            template: "<%- cardDataJson.template %>",
            gender: "<%- cardDataJson.gender %>",
            generatedPath: "<%- cardDataJson.generatedPath %>"
        };
    </script>
</body>

</html>
